@import "../shared/styling/mixinsButton";

.auth-container-left {
  background-color: #6946b7;
  color: white;
  &__content {
    line-height: 70px;
    text-align: center;
    &__mat-display-2 {
      font-size: 90px;
    }
    &__mat-body-2 {
      font-size: 25px;
    }
  }
  &__btn {
    margin-top: 10px;
    button {
      @include buttonAuth;
    }
  }
}

.auth-container-right {
  text-align: center;
  &__content {
    line-height: 100px;
    &__mat-display-2 {
      font-size: 50px;
    }
    &__form {
      display: flex;
      flex-direction: column;
    }
    &__btn {
      button {
        @include buttonAuth;
      }
    }
  }
}
