<mat-grid-list cols="2">
  <mat-grid-tile class="auth-container-left">
    <div class="auth-container-left__content">
      <div class="auth-container-left__content__mat-display-2">
        Hello, Friend!
      </div>
      <div class="auth-container-left__content__mat-body-2">
        Enter your personal details and start your journey with us
      </div>
      <div class="auth-container-left__btn">
        <button mat-raised-button>Register</button>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="auth-container-right">
    <div class="auth-container-right__content">
      <div class="auth-container-right__content__mat-display-2">
        Sign in to Task Manager
      </div>
      <form (ngSubmit)="onSubmit()" #getValue="ngForm">
        <div class="auth-container-right__content__form">
          <mat-form-field appearance="outline">
            <mat-label>Enter your email</mat-label>
            <input
              matInput
              type="email"
              ngModel
              name="email"
              required
              email
              #email="ngModel"
            />
            <mat-error *ngIf="email.invalid"
              >Please enter a valid email</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input
              matInput
              type="password"
              ngModel
              name="password"
              required
              minlength="8"
            />
            <mat-hint>Please enter min 8 characters</mat-hint>
          </mat-form-field>
        </div>
        <div class="auth-container-right__content__btn">
          <button
            color="primary"
            mat-raised-button
            [disabled]="!getValue.valid"
          >
            Log In
          </button>
        </div>
      </form>
    </div>
  </mat-grid-tile>
</mat-grid-list>
